* {
  transition: 1;
}
.details {
  display: flex;
}
.details h2 {
}
.details p {
}
.discription {
  width: 55%;
  padding: 5rem 1rem 0 2.5rem;
}
.line {
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
}
.release {
  margin-top: 1rem;
}
.trailer-video {
  width: 45%;
  padding-top: 3rem;
  border-radius: 15px;
}
.trailer-video img {
  width: 100%;
}
