.quantity-input {
  position: absolute;
  top: 3rem;
  left: 64%;
  z-index: 100;
  border: 1px solid #ccc;
  border-radius: 7px;
  background: white;
  max-width: 150px;
  padding: 10px;
}
.quantity-input input {
  border: 1px solid #ccc;
  width: 40%;
  padding: 8px;
  margin: 7px 0;
}
.quantity-input input:focus {
  border: 1px solid;
}
.quantity-input form > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quantity-input button {
  width: 100%;
}
