.header {
  composes: header from '../home/Home.module.css';
}
.header-inner {
  composes: header-inner from '../home/Home.module.css';
}
.container {
  composes: container from '../home/Home.module.css';
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
