.search-bar {
  display: flex;
  flex-direction: column;
  background: #febb00;
  color: #222;
  width: 25%;
  height: fit-content;
  padding: 10px;
  border-radius: 12px;
}
.search-bar > label {
  margin-top: 10px;
}
.search-bar > input,
.check-in-date input {
  margin: 10px 0;
  border: 0;
  padding: 10px 5px;
}
.check-in-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.check-in-date span {
  margin: 10px;
}

.title {
  font-size: 1.5rem;
  color: #5c5753;
  font-weight: bold;
}
.check-in-date {
}
.options {
  margin: 10px 0 0 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.options label {
  font-size: smaller;
  color: #555;
}
.options input {
  width: 65px;
  padding: 3px;
}
.options > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-bar button {
  margin-top: 40px;
  border: none;
  color: #eee;
  background: #0171c2;
  padding: 12px;
}
