.header {
  background: #01357f;
}
.container {
  width: 70%;
  margin: 0 auto;
  margin-top: 40px;
}

.header-inner {
  width: 70%;
  margin: 0 auto;
}
.city-list {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  gap: 20px;
}
.property-type-list,
.hotel-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container h4 {
  margin: 30px 0;
}
