.original img {
  width: 150px;
}
.browse {
}
.movies-container {
  width: 97%;
  margin: 2rem auto 0;
}
.movies-container > div {
  margin-bottom: 4rem;
}
.title {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.movie-list {
  position: relative;
}
